<h1>ヨット部紹介</h1>

<div class="containeryacht">
  <div class="row g-2">
    <div class="picture37 col-5">
    </div>
    <div class="picture39 col-5">
    </div>
    <div class="picture38 col-5">
    </div>
    <div class="picture42 col-5">
    </div>
    <div class="picture40 col-5">
    </div>
    <div class="picture41 col-5">
    </div>
  </div>
</div>

<h1>PV</h1>
<div class="welcomevideo1"> 
   
    <%= video_tag("/videos/welcomevideo1.mp4",  controls: :true, class: 'video-content') %>
</div>
