<h1>大会成績</h1>
<h3>詳細</h3>
<div class="result">
  
  <%= safe_join(@result.body.split("\n"),tag(:br)) %>
</div>

<%= link_to "編集する", edit_result_path(@result.id) %>
<%= link_to "Result一覧に戻る", results_path %>