<h1>問い合わせ</h1>

<h2>よくある質問</h2>

　１　
<h2>各種SNS</h2>
<div class="container welcome">
  <div class="row gy-5">
    <div class="picture15 col-3">
    
    </div>
    <div class="picture16 col-3">
    
    </div>
    <div class="picture17 col-3">
    
    </div>
  </div>
</div>

<h2>新勧担当者メールアドレス</h2>
    b316ca@yamaguchi-u.ac.jp