// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.picture37 {
    height: 275px;
    width: 500px;
    margin: 170px,175px; 
    background-image: url("picture37.jpg"); 
    background-size: cover;
}

.picture39 {
    height: 275px;
    width: 500px;
    margin: 670px,175px; 
    background-image: url("picture39.jpg"); 
    background-size: cover;
}

.picture38 {
    height: 275px;
    width: 500px;
    margin: 170px,450px; 
    background-image: url("picture38.jpg"); 
    background-size: cover;
}

.picture42 {
    height: 275px;
    width: 500px;
    margin: 670px,450px; 
    background-image: url("picture42.jpg"); 
    background-size: cover;
}

.picture40 {
    height: 275px;
    width: 500px;
    margin: 150px,725px; 
    background-image: url("picture40.jpg"); 
    background-size: cover;
}

.picture41 {
    height: 275px;
    width: 500px;
    margin: 670px,725px; 
    background-image: url("picture41.jpg"); 
    background-size: cover;
}

.welcomevideo1 {
    background-color: FF0000;
    height: 750px;
    width: 1100px;
    margin: 170px,1000px; 
}

.video-content {
    height: 450px;
    width: 850px;
    
}