// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.picture15 {
    height: 50px;
    width: 50px;
    
    background-image: url("picture15.JPG"); 
    background-size: cover;
}

.picture16 {
    height: 50px;
    width: 50px;
    
    background-image: url("picture16.JPG"); 
    background-size: cover;
}

.picture17 {
    height: 50px;
    width: 50px;
     
    background-image: url("picture17.JPG"); 
    background-size: cover;
}