<h1>活動報告</h1>

<div class="container report">
  <div class="row gy-5">
    <div class="picture7 col-5">
    <%= link_to image_tag('picture7.JPG'), 'https://www.facebook.com/pg/%E5%B1%B1%E5%8F%A3%E5%A4%A7%E5%AD%A6%E4%BD%93%E8%82%B2%E4%BC%9A%E3%83%A8%E3%83%83%E3%83%88%E9%83%A8-239009246520656/posts/?ref=page_internal' %>
    </div>
    <div class="picture8 col-md-5 col-md-offset-1">
    <%= link_to results_path do %>
      <p class="picture8"></p>
    <% end %>
    </div>
    <div class="picture9 col-5">
    <%= link_to others_path do %>
      <p class="picture9"></p>
    </div>
    <% end %>
    <div class="picture10 col-md-5 col-md-offset-1">
    <%= link_to image_tag('picture10.JPG'), 'http://yuyc.web.fc2.com/index.html' %>
    </div>
  </div>
</div>

